:root {
	--bg-color: #151515e1; /* Default text color */
	--txt-color: #fefefe; /* Default background color */

	--button-color: #fff;
	--button-hover-color: #eee;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu Mono", "Overpass Mono", sans-serif;

	/* Because IE does not have support for variables :/ */
	color: #fefefe;
	background: #151515e1;
}

html {
	color: var(--txt-color);
	background: var(--bg-color);
}


#main_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	/* filter: blur(8px); TODO: Add blur */
	/* -webkit-filter: blur(8px); */

	background: var(--bg-color);
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#main_wrapper header {}

#main_wrapper header nav ul {
	justify-content: center;
	align-items: center;
	list-style: none;
}

#main_wrapper header nav ul li { margin: 0 1rem 0 1rem; }
#main_wrapper header nav ul li a {
	font-size: 1.9rem;
}


#main_wrapper section {}


/* Classes */

.button {
	color: var(--button-color);
	text-decoration: none;
	transition-duration: 0.5s;
}
.button:hover { color: var(--button-hover-color); }


.navlist {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.navlist li { text-decoration: none; }
