@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--bg-color: #fefefe; /* Default background color */
	--bg-color-transparent: #fefefee1;
	--txt-color: #151515; /* Default text color */
	--txt-color-transparent: #151515e1;
	--txt-color-invert: #fefefe;

	--border-color: #e1e1e1;
	--border-color-transparent: #e1e1e1e1; 

	--button-color: #151515;
	--button-hover-color: #1515158a;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Ubuntu Mono", "Overpass Mono", sans-serif;

	color: #151515;
	color: var(--txt-color);
}

html {
	color: #151515;
	color: var(--txt-color);
	background: #fefefee1;
	background: var(--bg-color);
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

header {
	padding: 0.25rem 1rem;
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center; 
	width: 100%;
	align-self: flex-start;
	background: #fefefe;
	background: var(--bg-color);
	border-bottom: solid var(--border-color-transparent) 0.2rem;
}

header #header_logo {
	width: 4rem;
	height: auto;
	margin: auto auto auto 2rem;	
}

header nav {
	width: max-content;
	margin: auto 2rem auto auto;
}

header nav ul {
	justify-content: center;
	align-items: center;
	list-style: none;
}

header nav ul li { margin: 0 1rem 0 1rem; }
header nav ul li a {
	font-size: 1.5rem;
}

#main_wrapper {
	flex-direction: column;
	justify-content: start;
	align-items: center;

	width: 100%;
	height: 100%;

	/* filter: blur(8px); TODO: Add blur */
	/* -webkit-filter: blur(8px); */

	background: var(--bg-color);
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}




#mainpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#mainpage .content_container {
	border-radius: 5px;
	background: #fefefe;
	background: var(--bg-color);
	padding: 1.25rem;
	padding-top: 0.6rem;
	border: solid var(--border-color-transparent) 4px;
}


#mainpage .content_container #bashinputtxt {
	font-size: 1.85rem;
	color: #43de4f;
}
#bashinputtxt #bashcolon	{ color: var(--txt-color-transparent); }
#bashinputtxt #bashthing	{ color: #429edb; }
#bashinputtxt #bashdollar	{ color: var(--txt-color-transparent); }


#mainpage .content_container ul {
	margin: 0;
	justify-content: center;
	align-items: center;
}

#mainpage .content_container ul li { 
	margin-top: 0.6rem;
	margin-right: 0.4rem; 
}
#mainpage .content_container ul li a { font-size: 2rem; }

#mainpage .content_container #website_slogan {
	font-size: 1.8rem;
}


/* Classes */
.flex_wrapper { display: flex; }
.grid_wrapper { display: grid; }

.button {
	color: #151515;
	color: var(--button-color);
	text-decoration: none;
	transition-duration: 0.5s;
}
.button:hover {
	color: #1515158a;
	color: var(--button-hover-color);
}

.bashbutton {
	color: #010000;
	font-size: 1.7rem;
	padding: 0 0.25rem;
	margin: 0 1.2rem;
	text-decoration: underline;
}
.bashbutton:hover {
}


.navlist {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.navlist li { text-decoration: none; }
